<div class="header-container container-fluid d-flex flex-nowrap fixed-top">
    <div class="header-logo">
        <img src="../../assets/img/reddit-logo.png" alt="Reddit Logo" height="50px">
    </div>
    <div class="search-bar">
        <nav class="navbar">
            <div class="container-fluid">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>
    <div class="app-btn">
        <button type="button" class="btn btn-light">Scarica l'app</button>
    </div>
    <div class="login-btn">
        <button type="button" class="btn btn-danger">Accedi</button>
    </div>
    <div class="menu-btn"></div>
</div>